body {
  background-color: #000000;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .each_position {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 3vw;
    .flex {
      width: 50%;
      text-align: center;
    }
  }
  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }

  .time {
    margin: 0 10px;
    text-align: center;
    background-color: white;
    padding: 0.3vw;
    border-radius: 5px;
    width: 80px;
  }

  .time h2 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    color: #000;
  }

  .time small {
    font-size: 14px;
    color: #0c0c0c;
  }
  .image {
    width: 45vw;
    border-radius: 0.5vw;
  }
}
